body {
	margin: 0px;
	padding: 0px;
}

nav {
	background-color: #AA9FC2;
	margin: 0px;
	padding: 0px;
	height: 40px;
	min-width: 700px;
}

nav a {
	height: 35px;
	padding-right: 20px;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding-top: 15px;
	transition: color 0.3s;
    -o-transform: color 0.3s;
    -moz-transform: color 0.3s;
    -webkit-transition: color 0.3s;
    font-family: 'Roboto', sans-serif;
}

nav a:visited {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #b1f28e;
	text-decoration: none;
}

h1 {
	font-family: "Bookman", sans-serif;
	font-size: 50px;
	text-indent: 20px;
	text-decoration: underline;
}
h2 {
	font-family: "Bookman", sans-serif;
	font-size: 40px;
	text-indent: 20px;
}
h3 {
	font-family: "Bookman", sans-serif;
	font-size: 25px;
	text-indent: 20px;
	text-decoration: underline;
}
p {
	font-family: "Bookman", sans-serif;
	font-size: 22px;
	display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 4em;
  margin-right: 4em;
}
table {
  border-collapse: separate;
  border-spacing: 50px 0;
	text-align: left;
}

td {
  padding: 10px 0;
	font-family: "Bookman", sans-serif;
	font-size: 22px;
}
th {
	font-family: "Bookman", sans-serif;
	font-size: 22px;
}
ul {
	font-family: "Bookman", sans-serif;
	font-size: 22px;
	display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 4em;
  margin-right: 4em;
}
li {
  margin: 1em 0;
}

#nav-sidebar {
	height: 10px;
	width: 15vw;
	min-width: 90px;
	display: inline-block;
}

#cover {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 52px;
	color: #000000;
	margin: 0px;
	padding: 0px;
	height: 500px;
	min-width: 400px;
	background-image: url("images/cover.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: left bottom;
}

#cover span {
	display: inline-block;
	padding-top: 15px;
}

#intro-image {
	position: relative;
	bottom: 300px;
	width: 500px;
	display: block;
	margin: auto;
}
#hammer-image {
	vertical-align: top;
	position: relative;
	width: 500px;
	display: block;
	margin: auto;
}

/*#about p {
	font-size: 32px;
	display: block;
	width: 325px;
	margin: auto;
	position: relative;
	bottom: 250px;
}*/

#about {
	background-color: #17ADFF;
}

#projects {
	background-color: #17FF9F;
}

#experience {
	background-color: #17EDFF;
}

#skills {
	background-color: #b1f28e;
}

#Contact {
	background-color: #f2f2f2;
}

#footer-sidebar {
	height: 10px;
	width: 15vw;
	min-width: 90px;
	display: inline-block;
}

footer {
	background-color: #AA9FC2;
	margin: 0px;
	padding: 0px;
	height: 50px;
	min-width: 700px;
}

footer p {
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	display: inline-block;
}

.spacesaver {
	height: 600px;
}
.spacesaverimage {
	height: 300px;
}
.spacesaver1 {
	height: 220px;
}
.footspace {
	height: 50px;
}

.multi-column {
   -moz-column-count: 2;
   -moz-column-gap: 20px;
   -moz-column-fill: auto;
   -webkit-column-count: 2;
   -webkit-column-gap: 20px;
   -webkit-column-fill: auto;
   column-count: 2;
   column-gap: 20px;
   column-fill: auto;
	 list-style-position: inside;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* addng media player css */
@charset 'UTF-8';
/*
Optional styling for bbplayer elements.
*/
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

.bbplayer {
  font: 200 16px/1.5 Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #898989;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  box-shadow: 0 0 5px #E0E0E0;
	background-color: #E0E0E0;
	margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 4em;
  margin-right: 4em;
}

.bb-play {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width:  32px;
  border: 6px solid #CFCFCF;
  border-radius: 50%;
  background: transparent;
  background-image: url('images/play.png');
  background-repeat: no-repeat;
  background-position: 7px center;
  cursor: pointer;
}

.bb-playing {
  vertical-align: middle;
  background-image: url('images/pause.png');
  background-position: center center;
}

.bb-forward {
  vertical-align: middle;
  display: inline-block;
  height: 32px;
  width:  32px;
  background: transparent;
  background-image: url('images/forward.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bb-rewind {
  vertical-align: middle;
  display: inline-block;
  height: 32px;
  width:  32px;
  background: transparent;
  background-image: url('images/rewind.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bb-trackTime {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.bb-trackLength {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.bb-trackTitle {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  width: 8em;
  overflow: hidden;
  text-align: center;
}

.bb-artist {
  font-size: 14px;
}

.bb-album {
  font-size: 14px;
}

.bb-albumCover {
  height: 38px;
  width: 38px;
  line-height: 38px;
  vertical-align: top;
  background: #999999;
  border: 1px solid #666666;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin-left: 5px;
  display: inline-block;
}

.bb-debug {
  height:10em;
  width: 19em;
  border: 1px solid #DDD;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  overflow: auto;
  font-weight: normal;
  font-size: 14px/1.5;
}

.bbplayer div.playerWindow {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #CFCFCF;
  padding: 5px;
  box-shadow: inset 0 0 15px #E0E0E0;
  background: #EFEFEF;
}

@media all and (max-width: 480px) {

  .bbplayer {
    font: 200 14px/1.5 Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #898989;
    display: inline-block;
  }

  .bb-trackTitle {
    width: 6em;
  }

  .bb-track-display {
    font-size: 12pt;
  }

  .bb-album-display {
    display: none;
  }

  .bb-album {
    font-size: 12px;
  }

  .bb-trackLength {
    display: none;
  }
}
